<hr>
<footer>
    <p>&copy;&nbsp;&nbsp;Copyright Meysam Mahdavikhansari - Student No. 301248106<br>COMP 229 - Fall 2022 - Assignment 1 - Centennial College</p>
</footer>
<!-- Script tags for using JQuery and Bootstrap -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var getTitle = "<%= title %>"
</script>
<script src="/javascripts/appClient.js"></script>
</body>
</html>