<% include partials/header.ejs %>
    <br>
    <h1><%= title %></h1>
    <br>
    <h3>Meysam Mahdavikhansari</h3>
    <!-- Implementation for About Me page -->
    <table>
        <tr>
            <td>
                <h4>A Software Engineer student at Centennial College with an outstanding GPA of 4.4 and interested in learning new technologies. 
                    A creative, talented and motivated problem solver wants to lunch his first Technology career while striving for growth.
                    Having good planning, organizational, analytical and problem-solving skills. 
                    Collaborative team member while being able to perform exceptionally without supervision. 
                    Excellent interpersonal, verbal and written communication skills.
                </h4>
                <br>
                <br>
                <br>
                <h4>Please find my detailed Resume <button onclick="location.href = '/pdf/myResume.pdf'">here</button></h4>
            </td>
            <td>
                <img id="myPic" src="/images/meysam.jpg" alt="Meysam Mahdavikhansari" height="300" width="220">
            </td>
        </tr>
    </table>

<% include partials/footer.ejs %>