<% include partials/header.ejs %>
<br>
<h1><%= title %></h1>
<br>
<!-- Implementation for Contact Me page -->
<table>
    <tr>
        <td>
            <h3>Meysam Mahdavikhansari</h3>
            <h4>Microsoft Teams: mmahdav3</h4>
            <h4>Email: mmahdav3@my.centennialcollege.ca</h4>
            <h4>Cellphone: +1(234)567-8910</h4>
            <h4>Address: 941 Progress Ave, Scarborough, ON M1G 3T8</h4>
            <br><br>
        </td>
        <td>
            <a href="/images/location.jpg"><img src="/images/location.jpg" alt="Location" height="150" width="285"></a>
            <p>Please click to enlarge the location image</p>
        </td>
    </tr>
</table>
<br>
<h4>Please fill out the form below and type in your message for me:</h4>
<br>
<form onsubmit="return ajaxpost()">
    <fieldset>
        <label for="txtFirstName">First Name:</label>
        <input type="text" id="txtFirstName" name="firstName" size="40" required="required" tabindex="3">
        <br>
        <p id="firstNameError"></p>
        <br>
        <label for="txtLastName">Last Name:</label>
        <input type="text" id="txtLastName" name="lastName" size="40" required="required" tabindex="5">
        <br>
        <p id="lastNameError"></p>
        <br>
        <label for="txtAddress">Address:</label>
        <input type="text" id="txtAddress" name="Address" size="60" required="required" tabindex="7">
        <br>
        <p id="addressError"></p>
        <br>
        <label for="txtCity">City:</label>
        <input type="text" id="txtCity" name="City" size="30" required="required" tabindex="9">
        <br>
        <p id="cityError"></p>
        <br>
        <label for="txtPostalCode">Postal Code:</label>
        <input type="text" id="txtPostalCode" name="Postal Code" size="30" required="required" tabindex="11">
        <br>
        <p id="postalCodeError"></p>
        <br>
        <label for="txtProvince">Province:</label>
        <select name="Province" id="txtProvince">
            <option value="QC">QC</option>
            <option value="ON">ON</option>
            <option value="MN">MN</option>
            <option value="SK">SK</option>
            <option value="AB">AB</option>
            <option value="BC">BC</option>
        </select>
        <label for="txtAge">Age:</label>
        <input type="number" id="txtAge" name="Age" min="0" required="required" tabindex="15">
        <br>
        <p id="ageError"></p>
        <br>
        <label for="txtPassword">Password:</label>
        <input type="password" id="txtPassword" name="Password" size="30" required="required" tabindex="17">
        <br>
        <p id="passwordError"></p>
        <br>
        <label for="txtConfirm">Confirm:</label>
        <input onkeyup="check(this)" type="password" id="txtConfirm" name="Confirm" size="30" required="required" tabindex="19">
        <br>
        <p id="passConfirmError"></p>
        <br>
        <label for="txtEmail">Email:</label>
        <input type="email" id="txtEmail" name="Email" size="30" required="required" tabindex="21">
        <br>
        <p id="emailError"></p>
        <br>
        <textarea name="textArea" id="txtA" cols="30" rows="10" placeholder="---Please type your message here!---"></textarea>
        <br>
        <br>
        <button id="submitForm">SUBMIT</button>
        <button type="reset">Clear Form</button>
    </fieldset>
</form>

<script src="/javascripts/contactMeForm.js"></script>

<% include partials/footer.ejs %>