<% include partials/header.ejs %>
    <br>
    <h1><%= title %></h1>
    <br>
    <!-- Implementation for Home page -->

    <p>Welcome to my <%= name %> <%= title %></p>
    <p>I am a Software Engineer with solid knowledge of:</p>
    <ul>
        <li>MEAN</li>
        <li>Express</li>
        <li>EJS</li>
        <li>NodeJS</li>
    </ul>
    <h4>Mission Statement</h4>
    <p>My mission is to provide the clients with business growth through creative design, continuous development and market analysis to make them outstanding in this competitive business atmosphere.</p>
    <p>Please checkout my other pages such as <button onclick="location.href = '/about'">About me</button>
    and <button onclick="location.href = '/projects'">My Projects</button></p>
<% include partials/footer.ejs %>