<% include partials/header.ejs %>
    <br>
    <h1><%= title %></h1>
    <br>
    <!-- Implementation for My Projects page -->

    <p>Welcome to <%= title %></p>
    <p>Here you will find 3 of my best Web Development projects with their related information.</p>
    <p>Feel free to click on each project image to see the application and work with them yourself.</p>
    <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Project Image</th>
              <th>Project Name</th>
              <th>My Role</th>
              <th>Description</th>
              <th>The Outcome</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>1</td>
                <td><a href="http://studentweb.cencol.ca/mmahdav3/Assignment/Assignment6/index.html"><img src="../images/1.jpg" height="100" width="100" alt="Photo Gallery"></a></td>
                <td><p>Ajax and JQuery Photo Gallery</p></td>
                <td><p>Developer</p></td>
                <td><p>This is my final project for semester II for Web Application Development course.</p></td>
                <td><p>I learned how to implement a JSON file and how to access it in order to use resources such as multi-media resources. In addition, I learned how to use JQuery to make the images animated. To see the outcome, please click on the image provided.</p></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="http://studentweb.cencol.ca/mmahdav3/Assignment/Assignment5/assignment5.html"><img src="../images/2.jpg" height="100" width="100" alt="Ladybug"></a></td>
                <td><p>Game</p></td>
                <td><p>Developer</p></td>
                <td><p>This is my first Game application.</p></td>
                <td><p>By implementing this game, I learned how to work with event triggers and event listeners. To see the outcome, please click on the image provided.</p></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="http://studentweb.cencol.ca/mmahdav3/Assignment/Assignment4/assignment4.html"><img src="../images/3.jpg" height="100" width="100" alt="Web Form"></a></td>
                <td><p>Web Form</p></td>
                <td><p>Developer</p></td>
                <td><p>This is an advanced web form which only accepts specific type of information.</p></td>
                <td><p>By developing this application, I learned how to use the Regular Expression that provides the form fields with a capability of accepting specific information. This is very useful to avoid improper information in the application. To see the outcome, please click on the image provided.</p></td>
            </tr>
          </tbody>
        </table>
      </div>

<% include partials/footer.ejs %>