<% include partials/header.ejs %>
<br>
<h1><%= title %></h1>
<br>
<!-- Implementation for My Services page -->

<h4>Here are the areas I am proficient in:</h4>
<br>
<div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Areas</th>
          <th>Technologies</th>
          <th>Proficiency Level</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>1</td>
            <td>Web Application<br><br><img src="/images/web.jpg" alt="Web Development" height="150" width="150"></td>
            <td>
              <p>NodeJS and ExpressJS</p>
              <p>Ajax and JQuery</p>
              <p>HTML (HyperText Markup Language)</p>
              <p>CSS (Cascading Style Sheets)</p>
              <p>Vanilla JavaScript</p>
              <p>TypeScript</p>
              <p>C#</p>
              <p>Oracle SQL</p>
            </td>
            <td><p>Junior</p></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Mobile Application<br><br><img src="/images/mobile.jpg" alt="Mobile Development" height="150" width="150"></td>
            <td>
              <p>JAVA</p>
              <p>Kotlin</p>
              <p>NativeScript</p>
            </td>
            <td><p>Junior</p></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Games<br><br><img src="/images/game.jpg" alt="Game Development" height="150" width="150"></td>
            <td>
              <p>.NET</p>
              <p>C#</p>
              <p>JAVA</p>
              <p>Python</p>
            </td>
            <td><p>Junior</p></td>
        </tr>
        <tr>
          <td>4</td>
          <td>AI - ML<br><br><img src="/images/ai.jpg" alt="AI - ML Development" height="150" width="150"></td>
          <td>
            <p>Python</p>
            <p>Panda</p>
          </td>
          <td><p>Junior</p></td>
        </tr>
      </tbody>
    </table>
  </div>


<% include partials/footer.ejs %>